docker.enabled = true

process {
    withLabel: fastqc {
        container = 'microsuite/fastqc:ci'
    }
    withLabel: multiqc {
        container = 'microsuite/multiqc:ci'
    }
    withLabel: qiime2 {
        container = 'microsuite/qiime2-amplicon:ci'
    }
    withLabel: microsuite {
        container = 'microsuite/microsuite:ci'
    }
    withLabel: microsuite_amplicon {
        container = 'microsuite/prjna321534-alpha:ci'
    }
    withLabel: microsuite_picrust2 {
        container = 'microsuite/microsuite-picrust2:ci'
    }
}
