singularity.enabled = true

process {
    withLabel: fastqc {
        container = 'containers/singularity/fastqc.sif'
    }
    withLabel: multiqc {
        container = 'containers/singularity/multiqc.sif'
    }
    withLabel: qiime2 {
        container = 'containers/singularity/qiime2-amplicon.sif'
    }
    withLabel: microsuite {
        container = 'containers/singularity/microsuite.sif'
    }
    withLabel: microsuite_amplicon {
        container = 'containers/singularity/prjna321534-alpha.sif'
    }
    withLabel: microsuite_picrust2 {
        container = 'containers/singularity/microsuite-picrust2.sif'
    }
}
